/*
Css para la cabezera del html
*/

header {
  align-items: center;
  background-color: #a52a2a;
  border-radius: 15px;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

header a {
  color: #a8a8a8;
  font-size: 17px;
  padding: 10px 10px;
  text-decoration: none;
}

#links_navbar {
  margin-top: 10px;
  text-align: center;
}

#links_navbar a:hover {
  color: black;
}

#icono_header {
  display: flex;
  justify-content: center;
}

header #links_navbar {
  display: none;
}

#logo_header img {
  width: 100%;
}

#boton_login_header {
  color: black;
  text-decoration: none;
}

/* Media query header */
@media (min-width: 800px) {
  #logo_header img {
    width: 40%;
  }
}

@media (min-width: 600px) {
  header #links_navbar {
    margin: 10px 5px 10px 5px;
    display: flex;
    width: 100%;
  }

  #icono_header {
    display: none;
  }
}
