/*
Fuente
*/

@font-face {
  font-family: upheaval;
  src: url("../assets/fonts/upheaval/upheavtt.ttf");
}

/*
Css para todo el html
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: upheaval;
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

/*
Css para el body
*/

body {
  background-image: url("../assets/imagen_fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
Css para el cuerpo del html
*/

main {
  background-color: #a8a8a89f;
  border: 10px #444444 solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#titulo_cuerpo {
  text-align: center;
  width: 100%;
}

#video_trailer_cuerpo {
  text-align: center;
  width: 80%;
}

#video_trailer_cuerpo iframe {
  height: 200px;
  width: 100%;
}

#descripcion_juego_cuerpo {
  font-size: 0.9em;
  margin: 20px;
  text-align: center;
}

#imagenes_link_cuerpo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imagenes_link_cuerpo img {
  padding: 5px;
  width: 100%;
}
