/*
Fuente
*/

@font-face {
  font-family: upheaval;
  src: url("../assets/fonts/upheaval/upheavtt.ttf");
}

@font-face {
  font-family: dokdo;
  src: url("../assets/fonts/dokdo/EastSeaDokdo-Regular.ttf");
}

/*
Css para todo el html
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: upheaval;
}

p,
a {
  font-family: dokdo;
  font-size: 2em;
}

/*
Css para el body
*/

body {
  background-image: url("../assets/imagen_fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*
Css para el cuerpo del html
*/

.character {
  background-color: #6b4537cb;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

@media (min-width: 800px) {
  .character {
    display: flex;
    flex-wrap: wrap;
  }

  .character h2 {
    width: 100%;
  }

  .character p {
    width: 70%;
  }

  .character img {
    width: 30%;
    padding: 10px;
  }
}
