/*
Fuente
*/

@font-face {
  font-family: upheaval;
  src: url("../assets/fonts/upheaval/upheavtt.ttf");
}

/*
Css para todo el html
*/

* {
  box-sizing: border-box;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: upheaval;
}

p, a {
  font-family: Arial, Helvetica, sans-serif;
}

/*
Css para el body
*/
body {
  background-image: url("../assets/imagen_fondo.jpg");
  background-position: center;
}

/*
Css para la cabezera del html
*/

header {
  align-items: center;
  background-color: #a52a2a;
  border-radius: 15px;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

#links_navbar {
  display: none;
}

header a {
  color: #a8a8a8;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

header a.icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

#links_navbar a:hover {
  color: black;
}

header #links_navbar {
  display: none;
}

#logo_header img {
  width: 100%;
}

#boton_login_header {
  color: black;
  text-decoration: none;
}

/*
Css para el cuerpo del html
*/

main {
  background-color: #a8a8a8;
  border: 10px #444444 solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#titulo_cuerpo {
  text-align: center;
}

#video_trailer_cuerpo {
  text-align: center;
}

#video_trailer_cuerpo iframe {
  width: 100%;
}

#descripcion_juego_cuerpo {
  font-size: 0.9em;
  margin: 20px;
  text-align: center;
}

#imagenes_link_cuerpo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

#imagenes_link_cuerpo img {
  width: 100%;
}

/*
Css para el footer del html
*/

footer {
  background-color: #a52a2a;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}

#header_footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -20px;
}

#header_footer img {
  margin-right: -20px;
  height: 90px;
}

#copyright_footer {
  width: 70%;
}

#copyright_footer :nth-child(3) {
  text-align: center;
}

#rrss_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
}

.fa {
  padding: 12px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px 5px 5px;
  border-radius: 8px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer p {
  font-size: 1em;
  margin: 1px 0px 1px 5px;
}
