* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: brown;
  grid-row: 1/3;
}

header nav {
}

nav ul {
  padding: 2px;
  list-style-type: none;
}

nav li {
  font-size: 0.7em;
  width: 10px;
  display: inline;
}

#logo_header {
}

#logo_header img {
  width: 100%;
}
