/*
Fuente
*/

@font-face {
  font-family: upheaval;
  src: url("../assets/fonts/upheaval/upheavtt.ttf");
}

/*
Css para todo el html
*/

* {
  box-sizing: border-box;
  font-family: upheaval;
}

/*
Css para el body
*/
body {
  background-image: url("../assets/imagen_fondo.jpg");
  background-position: center;
}

/*
Css para la cabezera del html
*/

header {
  align-items: center;
  background-color: #a52a2a;
  border-radius: 15px;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 2px;
}

nav li {
  display: inline;
  font-size: 0.7em;
  width: 10px;
}

#logo_header img {
  width: 100%;
}

#boton_login_header {
  color: black;
  text-decoration: none;
}

/*
Css para el cuerpo del html
*/

main {
  background-color: #a8a8a8;
  border: 10px #444444 solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#titulo_cuerpo {
  text-align: center;
}

#video_trailer_cuerpo {
  text-align: center;
}

#descripcion_juego_cuerpo {
  font-size: 0.9em;
  margin: 20px;
  text-align: center;
}

#imagenes_link_cuerpo {
  display: flex;
  flex-wrap: wrap;
}

#imagenes_link_cuerpo {
  justify-content: center;
}

/*
Css para el footer del html
*/

footer {
  background-color: #a52a2a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}

#header_footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
  margin-top: -10px;
}

#header_footer img {
  margin-right: 10px;
}

#copyright_footer {
  width: 70%;
}

#rrss_footer {
  width: 10%;
}

#rrss_footer img {
  border-radius: 200px;
  height: 40px;
  width: 40px;
}

footer p {
  font-size: 1em;
  margin: 1px 0px 1px 5px;
}
